div#container
{
    width: 970px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}
body
{
    background-color: #6D81A2;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}
#wb_Form1
{
    background-color: #F5F5F5;
    background-image: none;
    border: 0px solid #F5F5F5;
}
#Label1
{
    border: 0px solid #CCCCCC;
    border-radius: 4px;
    background-color: #DCDCDC;
    background-image: none;
    color :#4169E1;
    font-family: Arial;
    font-weight: normal;
    font-size: 35px;
    padding: 4px 4px 4px 4px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}
#Editbox1
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
}
#Editbox1:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Editbox2
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    line-height: 42px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
}
#Editbox2:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Editbox3
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
}
#Editbox3:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Editbox4
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
}
#Editbox4:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Editbox5
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
}
#Editbox5:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Combobox1
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    box-sizing: border-box;
}
#Combobox1:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#TextArea1
{
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    padding: 4px 4px 4px 10px;
    margin: 0;
    text-align: left;
    overflow: auto;
    resize: none;
}
#TextArea1:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Label2
{
    border: 0px solid #CCCCCC;
    border-radius: 4px;
    background-color: #DCDCDC;
    background-image: none;
    color :#4169E1;
    font-family: Arial;
    font-weight: normal;
    font-size: 35px;
    padding: 4px 4px 4px 20px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}
#Button1
{
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    background-color: #BFC3C5;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    -webkit-appearance: none;
    margin: 0;
}
#Button2
{
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    background-color: #15BF9B;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    -webkit-appearance: none;
    margin: 0;
}
#Label3
{
    border: 2px solid #D3D3D3;
    border-radius: 4px;
    background-color: #F3F4F9;
    background-image: none;
    color :#808080;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    padding: 4px 4px 4px 4px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}
